

.container-academy {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.title-academy {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color:white;
}

.sub-title-academy {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    color: white;
}
.background-academy {
    background-image: url('/images/academy/back-academy.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
