.container-footer{
    color: white;
    height: 471.5px;
    display: flex;
    justify-content: space-around;
    padding: 120px;
    max-width: 100%;
    margin: 0 auto;
    background-color: #47301C;
}

.footer-logo{
    text-align: center;
}

.footer-logo img{
    background-color: white;
    width: 131px;
    height: 129px;
    left: 17px;
    border-radius: 319px;
}

.footer-logo .dots{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.footer-logo .dots .dots-item{
    width: 40px;
    height: 40px;
    background-color: #d3d3d3;
    border-radius: 50%;
    margin: 0 10px;
}

.footer-contact, .footer-opening{
    max-width: 300px;
}

.footer-contact p, .footer-opening p{
    margin: 5px 0;
}

.footer-contact .footer-map{
    display: flex;
    align-items: center;
}

.footer-contact .footer-map i{
    margin-right: 5px;
}



