.footer-container {
    background-color: #4e3629;
    color: white;
    padding: 50px 20px;
    font-family: 'Arial', sans-serif;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}


.footer-col {
    flex: 1;
    margin: 20px;
    padding: 10px;
}


#company {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-logo {
    width: 100px;
    margin-bottom: 20px;
}


.footer-social {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}


.footer-social a {
    margin: 0 10px;
    color: white;
    font-size: 14px;
    border-radius: 50%;
    padding: 15px;
    transition: all 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #2C1E12;
    transition: color 0.3s ease, box-shadow 0.3s ease;
}


.footer-social a:hover {
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.6);
}



#contact h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

#contact p {
    font-size: 1rem;
    margin: 5px 0;
}


#location h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.map iframe {
    margin-bottom: 10px;
}


#useful-links h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

#useful-links ul {
    list-style-type: none;
    padding: 0;
}

#useful-links ul li {
    margin-bottom: 10px;
}

#useful-links ul li a {
    color: white;
    text-decoration: none;
}

#useful-links ul li a:hover {
    color: #f1c40f;
}
