.hero-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    pointer-events: none; /* agar tidak mengganggu klik carousel */
}

.carousel-wrapper {
    width: 100%;
    height: 100vh;
    overflow: visible;
    position: relative;
    z-index: 1;
}

.carousel-1, .carousel-2, .carousel-3{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



.carousel-content h1 {
    font-size: 3rem;
    font-weight: 700;
}

.carousel-content p {
    font-size: 1.2rem;
    line-height: 1.5;
}

.carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: white;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 2;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

.carousel-cell {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

@media (max-width: 768px) {

    .hero-container {
        height: 50vh;
    }
    .hero-background {
        width: 100%;
        height: 50vh;
    }

    .carousel-cell {
        width: 100%;
        height: 50vh;
    }

    .carousel-arrow {
        top: 50%;
    }

    .carousel-wrapper {
        width: 100%;
        height: 50vh;
    }

}
